@model IEnumerable<HospitalCitas.Models.Secretaria>

@{
    ViewData["Title"] = "Index";
}

<h1>Secretaria</h1>

<p>
    <a asp-action="Create">Crear una nueva secretaria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                Cargo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                Contraseña
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idsecretaria">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Idsecretaria">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Idsecretaria">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
